@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "Noah";
    src: url("fonts/Fontfabric - Noah Regular.otf");
}
body {
    //font-family: "Montserrat", sans-serif;
    font-family: 'Noah', sans-serif;
    //font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    color: $color-text-default;
    font-size: 1.7rem;
    line-height: 1.7;

    @include respond(phone) {
        line-height: 1.1;
    }
}


.heading-primary {

}

.heading-secondary {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-radius: $border-radius-round;
    transition: all .2s;
    font-weight: 800;
    background-color: $color-grey-light;
    //text-align: center;
    border: 1px solid transparent;

    &:after {
        content: ' ';
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        background: url("../../assets/images/arrow_2.png") no-repeat center / contain;
        transition: all .2s;
        transition-delay: .15s;
    }

    &:hover {
        cursor: pointer;
        //border: 1px solid rgba($color-grey-medium, .5);
    }

    &:active{
        //font-size: 3rem;
    }

    &.active {
        border: 1px solid rgba($color-grey-medium, .5);

        &:after {
            transform: translateY(-50%) rotate(180deg);
        }
    }


    @include respond(tab-port) {
        font-size: 2rem;
    }

    @include respond(phone) {
        width: 100%;
    }
}

.heading-tertiary {
    font-size: 2.4rem;

    font-weight: 600;
    margin-bottom: .5rem;

    @include respond(tab-port) {
        font-size: 1.6rem;
    }
}

.text-bold {
    font-weight: 500;
}

.text-accent-bold {
    font-weight: 500;
    color: $color-primary;
}
