/assets/scss/.sass-cache/
/assets/images/09-2023/jpg/
/assets/images/10-2023/jpg/
/assets/images/11-2023/jpg/
/assets/images/12-2023/jpg/
/assets/images/01-2024/jpg/
/assets/images/02-2024/jpg/
.idea/watcherTasks.xml
.idea/vcs.xml
.idea/modules.xml
.idea/marti.iml
.idea/jsLibraryMappings.xml
.idea
test-2.js
test.js
*.jpg
