/assets/scss/.sass-cache/
/assets/images/09-2023/jpg/
/assets/images/10-2023/jpg/
/assets/images/11-2023/jpg/
/assets/images/12-2023/jpg/
/assets/images/01-2024/jpg/
/assets/images/02-2024/jpg/
/assets/images/03-2024/jpg/
/assets/images/04-2024/jpg/
/assets/images/05-2024/jpg/
/assets/images/06-2024/jpg/
/assets/images/07-2024/jpg/
/assets/images/08-2024/jpg/
/assets/images/09-2024/jpg/
.idea/watcherTasks.xml
.idea/vcs.xml
.idea/modules.xml
.idea/marti.iml
.idea/jsLibraryMappings.xml
.idea
test-2.js
test.js
*.jpg
assets/scripts/test-1.js
assets/scripts/test.jsx
assets/scripts/test1.jsx
