// COLORS
$color-primary: #95cdb3;
$color-primary-60: rgba($color-primary, 0.6);
$color-primary-80: rgba($color-primary, 0.8);
$color-primary-dark: darken($color-primary, 20);

$color-npr: #FCD7D7;
$color-pn: #a6dba4;
$color-dmtx: #b4d6ff;

$color-white: #fff;
$color-grey-light-bg: #f3f8f2;

$color-grey-light-header: #fbfbfb;
$color-grey-light: #eee;
$color-grey-medium: #ababab;
$color-grey-dark: #353535;
$color-black: #000;

$color-text-default: $color-grey-dark;

//FIXED HEIGHTS
$header-height: 6rem;

// MARGINS
$content-margin-top: 10rem;

// FONT SIZE
$font-size-lg: 1.8rem; // 18px
$font-size-sm: 1.5rem; // 14px

//TRANSITION TIME
$transition-main: .35s;
$transition-fast: .2s;

// BORDER_RADIUS
$hasRoundCorners: true;
$border-radius-tiny: .3rem;
$border-radius-small: .7rem;
$border-radius-big: 1rem;
$border-radius-round: 10rem;

// SHADOWS
$box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.15);