.card {
	display: grid;
	align-content: baseline;

	&:hover {
		cursor: pointer;
	}

	&__image {
		display: grid;
		align-content: center;
		height: 20vh;
		overflow: hidden;
		border-radius: $border-radius-small;

		@include respond('phone') {
			height: 10vh;
		}
	}

	&__copy {
		font-size: 1.2rem;
		padding: 1rem 0;
		display: grid;
		align-content: start;
		gap: .5rem
	}

	&__date {
	}

	&__medicine {
		span {
			display: inline-block;
			margin-bottom: .35rem;
		}

		.npr,
		.pn,
		.dmtx {
			padding: .3rem .6rem;
			border-radius: $border-radius-small;
		}

		.pn {
			background-color: $color-pn;
		}

		.npr {
			background-color: $color-npr;
		}

		.dmtx {
			background-color: $color-dmtx;
		}
	}
}

.card-container {
	position: relative;
}

.compare-controls {
	position: absolute;
	top: 1rem;
	right: 1rem;
}