.weekdays {
	position: sticky;
	top: 0;
	padding: 1rem 0;
	background: $color-white;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1rem;

	& .day {
		font-size: 1.3rem;
		padding: 0 1rem;
	}
}