.content {
	display: grid;
	justify-content: center;
	padding: 4rem 5vw;
	max-width: 130rem;
	margin: 0 auto;

	@include respond('phone') {
		padding: 4rem 2rem;
		overflow-x: scroll;
		justify-content: initial;
	}
}